* {
    box-sizing: border-box;
}

body {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}
.locations, .program, .gifts, .faq, .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
}

h1, h2 {
    font-family: 'Great Vibes', cursive;
}

h2 { 
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #bd806e;
}

a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}

/* ========= Header ========*/

header {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') 70% center/cover;
    background-repeat: no-repeat;
    display: table;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.header-content {
    display: table-cell;
    vertical-align: middle;
}
.header-text {
    background: hsla(100,0%,0%,.5);
    color: hsla(0,0%,100%,.9);
    padding: .625rem;
    margin: 0 auto;
}
.tagline {
    font-size: 1.25rem;
    letter-spacing: .15rem;
}
.tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
}
.header-text h1 {
    font-size: 3.15rem;
    color: #d2ba87;
    margin-bottom: 0;
}
.date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
}
.date::before, .date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
}
@media (min-width: 768px) {
    .cover {
        background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
    }
    .header-text {
        padding: 1.25rem;
        border-radius: 4px;
        width: 50%;
    }
    .header-text h1 {
        font-size: 7rem;
    }
    .tagline {
        text-transform: uppercase;
    }
}
/* ====== Locations ====== */

.locations-text img {
    height: 7.5rem;
    margin: 1.5rem;
}
.locations-text h3 {
    font-weight: 700;
    margin: 1.5rem 0;
}
.locations-text div {
    font-family: 'Muli' , sans-serif;
}
.locations-text::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
}
@media (min-width: 768px) {
    .locations-text {
        display: inline-block;
        width: 30%;
        padding: 1.5rem;
        margin: .5rem;
    }
    .locations-text::after {
        display: none;
    }
}
/* ===== Programs ===== */

.program {
    width: 100vw;
    text-align: left;
    background-color: hsla(100,0%,0%,.6);
    color: #d2ba87;
    font-family: 'Muli', sans-serif;
    padding-bottom: 1rem;
}
.program h2 {
    font-family: 'Great Vibes', cursive;
    margin-top: 1rem;
    text-align: center;
}
.program p {
    font-style: italic;
}
.program ul {
    letter-spacing: .025rem;
}
@media (min-width: 768px) {
    .program-text {
        width: 30vw;
        margin: 0 auto;
    }
    .program-text p {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
}
/* ===== Gifts ===== */
.gifts img {
    height: 7.5rem;
}
.gifts p {
    margin: 1.5rem;
}
.gifts p:last-child {
    margin-bottom: 0;
}
/* ===== FAQ ===== */
.faq {
    background: hsla(100,0%,0%,.6);
    color: #d2ba87;
    width: 100vw;
    text-align: center;
}
.faq h2 {
    margin-top: 1rem;
}
.faq h3 {
    margin: 1.5rem;
}
.faq p {
    font-family: 'Muli', sans-serif;
    text-align: left;
}
.faq-group::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 50vw;
    margin: 1.5rem auto;
    background-color: #d2ba87;
}
.q {
    font-weight: 700;
    margin-bottom: .5rem;
}
.a {
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .faq-group {
        display: inline-block;
        width: 30vw;
        vertical-align: top;
        padding: 1.5rem;
        margin: .5rem;
    }
    .faq-group::after {
        display: none;
    }
    .faq-group h3 {
        text-align: left;
    }
}
/* ===== Contact ===== */
.contact p {
    margin-bottom: 1.5rem;
}
/* ===== Footer ===== */
footer  {
    height: 10vh;
    width: 100vw;
    background-color: #606060;
    color:#fff;
    font-family: 'Muli', sans-serif;
    display: table;
    text-align: center;
    font-size: .875rem;
}
.footer-text {
    display: table-cell;
    vertical-align: middle;
    padding: .5rem 1rem;
}
footer p {
    margin-bottom: 0;
}
footer small {
    line-height: 1.5;
}
@media (min-width: 768px) {
    footer {
        min-height: 7vh;
    }
}